<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JBS2.Properties.Settings.johnConnectionString" connectionString="Data Source=localhost;Initial Catalog=john;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JBS2.Properties.Settings.johnConnectionString1" connectionString="Data Source=SAM-HP\SAMUEL;Initial Catalog=john;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JBS2.Properties.Settings.johnConnectionString2" connectionString="Data Source=JESUS-PC;Initial Catalog=john;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
